/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #425563;
  color:#E5E4D7;
}
body {
  
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: 'Allerta', sans-serif;
}

input {
  background-color: #E5E4D7;
  width:135px;
}
ul.ui-autocomplete.ui-menu{
  list-style-type: none;
  position: absolute;
  text-align: center;
  background-color: #425563;
  height:55px;
  border-left:1px solid #E5E4D7;
  border-right:1px solid #E5E4D7;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;

}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Alex Brush', cursive;
  font-size: 38px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
  font-family: 'Allerta', sans-serif;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #E5E4D7;
  border-bottom-color: #fff;
}

#search{
  background-color: #E5E4D7;
  color:#253746;
  font-family: 'Allerta', sans-serif;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }

  #stationlist{
    margin: 10px;
    width: 90%;
  border:2px solid;
  border-color:#9E9E9E;
  border-radius: 5px;
  cursor:pointer;
  background-color: #E5E1D1;

}
.station{
  position:relative;
  border-bottom: 3px solid;
  border-color:#253746;
  border-radius:5px;
  color:#253746;
  height:60px;
}
.bikes{
  position:absolute;
  font-size: 24px;
  left:0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  width:10%;
  height:100%;
  border-top-left-radius: 10%;
  border-bottom-left-radius:10%;

}

.docks {
  font-size: 24px;
  position:absolute;
  right:0px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  width:10%;
  height:100%;
  border-top-right-radius: 10%;
  border-bottom-right-radius:10%;
  top:0;
}
#stname{
  font-size: 32px;
  font-weight: bold;
}

}
@media (max-width: 768px){
  body{
    text-align: left;
  }
  #bikepng {

  width:150px;
  height:auto;
  margin-top: 0;
}

.inner{

  padding:0;
}
.masthead-brand {
  margin-top: 0;
  margin-bottom: 0;
}
.masthead-nav {
  display: none;
}
.ui-menu-item{
  list-style-type: none;
  

}
#stationlist{
  margin: 5px;
  font-size: 14px;
  width:50%;
  height: auto;
  background-color: #E5E1D1;
  color:#253746;
  border:2px solid;
  border-color:#9E9E9E;
  border-radius: 5px;

}
.station{

  border-bottom: 3px solid;
  border-color:#253746;
  border-radius:5px;
  color:#253746
}


#cs1, #cs2{

  width:80px;
}


.ui-menu-item{
  list-style-type: none;
  margin-left:0;

}


} 




#cs1, #cs2 {

  margin: 10px;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: relative;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  #bikepng {
  position:relative;
  width:400px;
  height:auto;
  margin-top: 15%;
}
#dockpix{
  width:80px;
  height:auto;
  position:relative;
  left:35%;
  margin-top: 15%;
}


}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

