* {
margin: 0;
}
html, body {
height: 100%;
}
html {
	height:100%;

}

.body{
	font-family: 'Open Sans',Arial, sans-serif;
	font-size: 16px;
	font-weight: 350;
	background: url(citibikebridge.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead-brand {
	float: left;
	font-family: 'Amatic SC', Arial, sans-serif;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	letter-spacing: 1px;
	top:5px;
}

.masthead {
	padding: 10px;
	margin-left: 0px;
	background-color: white;
	/*border-bottom: 1px solid black;*/
}

.masthead-nav {
	text-align: right;
}

.masthead-nav > li {
	display: inline-block;
	margin-right: 20px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -6em;
}
.footer, .push {
height: 3em;
}

.footer {
	background-color: white;
	color: black;
	font-size: 14px;
	font-style: italic;
	padding: 6px 10px 0 10px;
	line-height: 18px;
	border-top: 1px solid black;
}

#stationSearchWrap {
	position: absolute;
	left: 60%;
	top: 25%;
	height: 300px;
	width: 300px;
	background-color: rgba(255,255,255,.7);
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}

#searchHeader {
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 10px;
}

#instruction {
	padding-bottom: 10px;
	text-align: justify;
}

#or {
	padding-top: 10px;
	padding-bottom: 10px;
}

#search {
	border: 1px solid black;
	width: 70px;
	height: 16px;
	border-radius: 10px;
	padding-top: 5px;
	margin: 0 auto;
	cursor:pointer;
	text-transform: uppercase;
	font-size: 12px;
}

#search:hover{
	background-color: black;
	color: white;
}
