<br>
<br>
<br>
<br>

<h2> About Citi Bike Wizard... </h2>
<br>


<p style="text-align:left">The Citi bike is perhaps the best thing to happen to New York in 2013. It fills the gap between walking and bus/subway, takes pounds off our bodies, plus it's trendy as ever! </p>

<p style="text-align:left">There's, however, one problem with everthing New Yorkers love - the supply and demand forces us to be strategic in trying to get our behinds on that blue bike. Yes the native Citibike App is wonderfully designed, but do we need a map to know where "W46St & 11Ave Station" is? Are we patient enough to wait for it to load all 300+ stations onto the map, when all we want is a cluster of 5~6 closeby stations with an overview of bike/dock availability? Wouldn't it be nice if the app could tell me I'm on the peak of rush hour, and the 8 available bikes showing on my home station will actually disapear in the next 5 minutes?</p>

<p style="text-align:left">This little app is designed with these goals in mind. It's geared toward daily commuters who mostly bike around familiar stations.  I hope the users of this site will agree that it's a bit more efficient in helping them locate a bike/dock. More functionality will be added and the predictive power will be improved constantly based on user input and the station data from Citibike. Please do not hesitate to contact me for contribution or comments!  </p>

<p> Special thanks to Al, Brian & Zach @ <a href='http://nycda.com'> NYCDA </a> for their help and support! </p> 
<br>
<p style="font-size:8px"> Citi bike is a registered service mark of Citi group. Please contact the site owner regarding any rights infrigements </p>