
          <div id="dockimg"><img src="/bike.png" id="bikepng">  </div>
           <div id="stationlist"></div>
          <div class="inner cover">
            <h1 class="cover-heading">Pick Your Root Station</h1>
             <div class="ui-widget">
  		<label for="cs1">By Cross Street: </label>
  		<input id="cs1" style="color:grey" placeholder="W 34 St">
			 
			</div>
		
			<div class="ui-widget">
			  <label for="cs2">By Intersection: </label>
			  <input id="cs2" style="color:grey" placeholder="W 41 St and 11 Ave">
 
     		 </div>
            <p class="lead">
              <a class="btn btn-lg btn-default" id="search">Search!</a>
            </p>
          </div>

         

       


