<div class="units-row units-split">
  <div id="weather_wrapper" class="unit-100">
    <div id="check"> Today is <%= @w_condition %></div><div><%= image_tag(@icon, class: "weather_icon") %></div>
    <div id="weather"> <%= @temp %> | Wind: <%= @wind[0..23] %> </div>
  </div>
</div>
<div id="stationSearchWrap">
  <header id="searchHeader">Pick Your Root Station</header>
    <p id="instruction">Pick a station to get an overview of a cluster of closeby stations. Or just click  Near Me.</p>
             

    <div id="stationlist"></div>

      <div id="stationSearch">

        <div class="ui-widget"> <div id="nearMe">Near Me </div>
<br/>


      		<input id="cs1" style="color:grey" placeholder="W 34 St"><br/>
          <div id="cs1_label"><label for="cs1">by cross street</label> </div>
        </div>
    			<div id="or"> or </div> 

  			<div class="ui-widget">
    			  <div id="cs2_label"><label for="cs2">intersection, area or landmark</label></div>
    			  <input id="cs2" style="color:grey" placeholder="Soho or Grand Central"><br/>
        </div>

        <div id="search">Search</div> 
      </div>
      
</div>
<div class="push"></div>
</div>


<!-- </div> -->
       


