
<div id="stationSearchWrap">
  <header id="searchHeader">Pick Your Root Station</header>
    <p id="instruction">To check how many bikes or docks are available, first enter the citibike station you are interested in.</p>

    <div id="stationlist"></div>

      <div id="stationSearch">

        <div class="ui-widget"> <br/>

      		<input id="cs1" style="color:grey" placeholder="W 34 St"><br/>
          <div id="cs1_label"><label for="cs1">by cross street</label> </div>
        </div>
    			<div id="or"> or </div> 

  			<div class="ui-widget">
    			  <div id="cs2_label"><label for="cs2">by intersection</label></div>
    			  <input id="cs2" style="color:grey" placeholder="41 St and 11 Ave"><br/>
        </div>

        <div id="search">Search</div>

      </div>
      
</div>


</div>
       


