<div id="about_section">

    <h3 class="title" style="border-bottom:solid;padding-bottom:12px"> How to Search Faster </h3>
    <ul>
    <br>
    <br>
    <li>
    <h4 class="subtitle"> Near me </h4>
    <br>

	<p>Simply click "Near Me." Watch for that popup asking for permission. </p>
     <br></li>
     <li>
    <h4 class="subtitle"> You know the station </h4>
    <br>
	<p> Use "by cross street" to enter the street your station is on. For example, enter "45" and it will suggest "W 45 st, E 45 St." Pick the street and every station on that street will populate the list. Now, pick out your station to get an overview of nearby stations. This is useful for checking a distant station you know well. </p>
	<br></li>
    <li>
	<h4 class="subtitle"> At your destination </h4>
	<br>

	<p> Use "by intersection, area or landmark" to search for places you're heading to. For example, enter "34 st and 11 ave" and back it returns a station group near that intersection. Or simply enter "Javits center," you will get pretty much the same list. </p>
	<p> If you happen to be aimlessly strolling through Hell's Kitchen or Chelsea, just put "hell's kitchen" or "chelsea" in the search box (note: you can relax on capitalizing in this box). The list of stations will help you plan your route. Have fun!   </p>

    </li>

</div>
<div class="push"></div>
</div>
