@media all and (min-width: 700px) {

.status {
	
	width:20px;
	height:20px;
	background-color: green;
	border-radius: 10px;

}

li {
   font-size: 18px;
    
}

#bike {
	position:relative;
	left:50px;
	top:30px;
	width: 150px;
	height: 80px;
	border-radius: 10px;
	background-color: grey;
	color:white;
	text-align: center;
	cursor: pointer;
	float:left;
	font-size: 30px;
	border: solid;
	line-height: 50px;

	
}

#dock {
	position:relative;
	left:50px;
	top:30px;
	width: 150px;
	height: 80px;
	border-radius: 10px;
	background-color: white;
	color:grey;
	text-align: center;
	cursor:pointer;
	float:left;
	font-size: 30px;
	border: solid;
	line-height: 50px;

}

#box1 {
	
	width:400px;
	height:150px;
	
}}

@media all and (max-width: 700px) {



h3{

	width:640px;
	height:80px;
}
.status {
	position:relative;
	left:1px;
	bottom:5px;
	width:30px;
	height:30px;
	background-color: green;
	border-radius: 15px;
	float:left;

}

li {
	text-align: left;
	width:600px;
	height:60px;
   font-size: 18px;
   margin-left: 5px;
   list-style-type: none;

    
}

#bike {
	position:relative;
	left:5%;
	top:20%;
	width: 150px;
	height: 80px;
	border-radius: 10px;
	background-color: grey;
	color:white;
	text-align: center;
	cursor: pointer;
	float:left;
	font-size: 30px;
	border: solid;
	line-height: 50px;

	
}

#dock {
	position:relative;
	left:5%;
	top:20%;
	width: 150px;
	height: 80px;
	border-radius: 10px;
	background-color: white;
	color:grey;
	text-align: center;
	cursor:pointer;
	float:left;
	font-size: 30px;
	border: solid;
	line-height: 50px;

}

#box1 {
	
	width:400px;
	height:150px;
	
}}

